.right-main
  .right-main__header-bar
    .right-main__header-bar__group-name
      = @group.name
    = link_to "edit", edit_group_path(@group), class: "right-main__header-bar__edit-btn"
    .right-main__header-bar__group-members
      Members:
      - @group.users.each do |users|
        = users.name
  .right-main__chat-main
    = render partial: 'message', collection: @messages
  .right-main__footer
    = form_for [@group, @message], {html: {id: "js-form"}} do |f|
      .right-main__footer__form
        .right-main__footer__form__body
          = f.text_field :body, class: 'right-main__footer__form__body__message', placeholder: "type a message"
          = f.label :image, class: "right-main__footer__form__body__label" do
            %span.right-main__footer__form__body__label__span
              =fa_icon "image"
            = f.file_field :image, class: "right-main__footer__form__body__label__input"
          = f.submit 'Send', class: 'right-main__footer__form__body__submit'
